#!/usr/bin/env python
PACKAGE = "sensor_fusion"

# Import the parameter generator for dynamic_reconfigure
from dynamic_reconfigure.parameter_generator_catkin import *

# Create an instance of the ParameterGenerator
gen = ParameterGenerator()

# Add motion model parameters
gen.add("alpha1", double_t, 0, "Motion model parameter alpha1", 0.1, 0.0, 1.0)
gen.add("alpha2", double_t, 0, "Motion model parameter alpha2", 0.1, 0.0, 1.0)
gen.add("alpha3", double_t, 0, "Motion model parameter alpha3", 0.1, 0.0, 1.0)
gen.add("alpha4", double_t, 0, "Motion model parameter alpha4", 0.1, 0.0, 1.0)
gen.add("alpha5", double_t, 0, "Motion model parameter alpha5", 0.1, 0.0, 1.0)
gen.add("alpha6", double_t, 0, "Motion model parameter alpha6", 0.1, 0.0, 1.0)

# Generate the configuration file for dynamic_reconfigure
exit(gen.generate(PACKAGE, "sensor_fusion", "MotionModel"))  # Name of the node, which is called by #include <sensor_fusion/MotionModelConfig.h>
